@config "../../tailwind.config.ts";
@import 'tailwindcss';

:root {
  --background: #fafafa;
  --foreground: #171717;
}

<<<<<<< HEAD
=======
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-custom-blue-200: #0a1b2d;
  --color-custom-blue-100: #003092;
  --color-primary-yellow: #ffc23d;
  --color-red-1: #fd5f5f;
}

>>>>>>> 06945df756807853186a897c706a97cf1f4c013f
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'PretendardSemiBold';
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PretendardBold';
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


body {
  margin: 0; 
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
